  
  h1, h2, h3, h4, h5, h6 {
    font-family:'Courier New', Courier, monospace;
    color: #fff;
  }
  
  p {
    color: #fff;
  }

  em {
    color: #fff;
  }

  a {
    color: #fff;
  }
  
  /* Headings */
  
  .big-heading {
    font-family:'Courier New', Courier, monospace;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 250%;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
  }
  
  /* Sections */
  .top-section {
    background-color: #2a78cb;
  }
  
  .colored-section {
    background-color: #2057b7;
  }
  
  .grey-section {
    background-color: #252526;
  }

  .light-section {
    background-color: #fff;
  }
  
  /* Navigation Bar */

  .navbar {
    font-size: 30px !important;
  }

  .container-fluid {
    font-size: large;
    font-weight: bold;
  }
  
  .navbar-brand {
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
  }
  
  .nav-item {
    padding: 0 18px;
    color: #fff;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "";
    color: #fff;
  }
  
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Section */
  
  #title {
    color: #fff;
    text-align: center;
  }
  
  #title .container-fluid {
    padding: 3% 15% 7%;
  }
  
  /* Title Image */
  
  .title-image {
    /*transform: rotate(25deg);*/
    padding-center: 25%;
    padding-bottom: 25%;
    max-width: 100%;
    max-height: 100%;
    position:sticky;
  }
  
  /* experience Section */
  
  #experience {
    position: relative;
    text-align: center;
    font-size: 150%;
  }
  
  .sub-section-header {
    text-align: center;
    font-size: 250%;
  }

  .sub-section-title {
    font-size: 2.5rem;
  }
  
  .sub-section-box {
    padding: 4.5%;
  }
  
  .sub-section-image {
    /*transform: rotate(25deg);*/
    max-width: 70%;
    max-height: 70%;
    padding: 3rem;
    position:sticky;
  }

  .icon {
    color: #2057b7;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #2057b7;
  }
  
  /* project Section */
  
  #projects {
    background-color: #2057b7;
    padding: 7% 15%;
    text-align: center;
  }
  
  .project-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .project-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  
  #press {
    background-color: #2057b7;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  /* Pricing Section */
  
  #pricing {
    padding: 100px;
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }
  
  /* CTA Section */
  
  
  /* Footer Section */
  
  
  .social-icon {
    margin: 20px 10px;
  }
  
  @media (max-width: 1110px) {
  
    #title {
      text-align: center;
    }

    #experience {
        text-align: center;
    }
  
    .title-image {
        display: none;
        visibility: hidden;
    }

    .experience-image {
        align-content: center;
        max-width: 50%;
        min-width: 30%;
        max-height: 50%;
        min-height: 30%;
    }
  }
  