  
     li, p {
      color: #fff;
      font-size: 26px;
    }
  
    h1{
      font-size: 44px;
    }
  
    h2 {
      font-size: 38px;
    }
  
    h3 {
      font-size: 34px;
    }
  
    h4 {
      font-size: 30px !important;
      padding: 15px;
      border-radius: 10px;
    }
 
 h1, h2, h3, h4, h5, h6 {
    font-family:'Courier New', Courier, monospace;
    color: #fff;
  }

  em {
    color: #fff;
  }

  body {
    background-color: #2a78cb;
  }

  .link {
    display: inline-block;
    padding: 2px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
  }

  code {
    display: inline-block;
    padding: 4px;
    background-color: #000000;
    font-family: monospace;
  }

  .alert {
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 0 !important;
    position: relative;
    width: 100%;
}

  
  /* Headings */
  
  .big-heading {
    font-family:'Courier New', Courier, monospace;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 250%;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 0% 0% 0%;
  }
  
  /* Sections */
  .top-section {
    background-color: #2a78cb;
  }
  
  .colored-section {
    background-color: #2057b7;
    padding: 7% 15%;
    text-align: left;
    width: 100%;
  }
  
  .grey-section {
    background-color: #252526;
    padding: 7% 15%;
    text-align: left;
    width: 100%;
  }

  /*mark*/

  .grey-section mark {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #FFF;
    font-weight: bold;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
  }

  .grey-section mark:hover {
    color: #fff;
    background-color: #2057b7;
  }

  .colored-section mark {
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
    background-color: #FFF;
    transition: background-color 0.3s ease;
  }

  .colored-section mark:hover {
    color: #fff;
    background-color: #252526;
  }
  
  
  /* Title Section */
  
  #title {
    color: #fff;
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 3% 15%;
  }
  
  /* Title Image */
  
  .title-image {
    /*transform: rotate(25deg);*/
    padding-left: 25%;
    padding-bottom: 25%;
    max-width: 100%;
    max-height: 100%;
    position:sticky;
  }
  
  
  .sub-section-header {
    text-align: left;
    font-size: 250%;
  }

  .sub-section-title {
    font-size: 2.5rem;
  }
  
  .sub-section-box {
    padding: 4.5%;
  }
  
  .sub-section-image {
    /*transform: rotate(25deg);*/
    max-width: 70%;
    max-height: 70%;
    padding: 3rem;
    position:sticky;
  }

  .spaced-list {
    padding-bottom: 10%;
  }
  
  
  @media (max-width: 1110px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
        display: none;
        visibility: hidden;
    }

    .contact {
      padding: 3% 10%;
      padding-top: 100px !important;
      text-align: center !important;
    }

    .colored-section {
      background-color: #2057b7;
      padding: 7% 10%;
      text-align: left;
      width: 100%;
    }
    
    .grey-section {
      background-color: #252526;
      padding: 7% 10%;
      text-align: left;
      width: 100%;
    }
  }
  