<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Patrick Quam</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Devanagari">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <!--HTMX import-->
    <script src="/javascript/htmx.min.js"></script>
</head>

<body>
  
    <!-- top section -->
    <section class="top-section" id="title">
      <div hx-get="/templates/donate.html" hx-swap="outerHTML" hx-trigger="load"></div>

          

            <!-- Nav bar -->

            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
              <div class="container-fluid">
                <div hx-get="/templates/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
              </div>
            </nav>

        <div class="container-fluid">

          <div class="row">

            <div class="col-lg-6">
              <h1 class="big-heading">Home Lab</h1>
              <p class="section-heading">My Personal Lab for Messing Around and Finding Out</p>
              
            </div>
        
            <div class="col-lg-6">
              <img class="title-image" src="/images/desktop.jpg">
            </div>
        
          </div>

        </div>

    </section>



    <section class="colored-section">
        <div class="sub-section-box col-lg-12">
          <h2>Personal Devices</h2>

            <h4>Desktop</h4>
            <p>While it might be needlessly expensive, I wanted components that would support my workload for an extended period of time to reduce e-waste. Also, as a technology enthusiast, I wanted the coolest stuff.</p>
            <p>Specifications:</p>
          <ul class="spaced-list">
            <li>OS: WINDOWS 11 W/ WSL 2.0 (UBUNTU 22.04) and PowerToys</li>
            <li>CPU: <a href="https://www.amd.com/en/products/cpu/amd-ryzen-9-5950x" target="_blank" class="link">Ryzen 9 5950x</a> - 16 cores, 3.9 - 4.9GHz, slight undervolt</li>
            <li>MOBO: ASUS ROG STRIX X570-F GAMING</li>
            <li>GPU: ASUS ROG STRIX / NVIDIA 3090</li>
            <li>RAM: 4x8GB Trident Z DDR4 @ 3200MT/s, slight overclock from 3000MT/s</li>
            <li>STORAGE: 1TB SAMSUNG 980 PRO / 500GB SAMSUNG 970 EVO PLUS</li>
          </ul>

          <h4>Laptop</h4>
          <p>When I heard about the framework laptop, I knew it was a project I wanted to support. The durability and repairability of the system is impressive, and swappable ports is one of the most useful "gimmik" features I have seen on a device from any manufacturer.</p>
          <p>Specifications:</p>
          <ul class="spaced-list">
            <li>OS: UBUNTU 22.04 W/ GNOME EXTENSIONS</li>
            <li>CPU: <a href="https://ark.intel.com/content/www/us/en/ark/products/208921/intel-core-i71165g7-processor-12m-cache-up-to-4-70-ghz-with-ipu.html" target="_blank" class="link">INTEL CORE I7-1165G7</a> - 4 cores, 2.8 - 4.7GHz</li>
            <li>GPU: INTEL IRIS XE INTEGRATED GRAPHICS</li>
            <li>RAM: 2x16GB SAMSUNG DDR4 SODIMM</li>
            <li>STORAGE: 500GB SAMSUNG 970 EVO PLUS</li>
          </ul>

          <h4>Software</h4>
          <p>I use Visual Studio Code for development on both my desktop and my laptop. I use Windows on the desktop because I often find myself needing the compatibility with NVIDIA Graphics drivers, and various applications such as Adobe Photoshop and new Steam games. Windows Subsystem for Linux and Windows PowerToys add a ton of functionality to Windows 11 that makes it exceptional for power users, while retaining a clean interface. I use the ARC web browser.</p>
        </div>
    </section>

    <section class="grey-section">
      <h2>Website</h2>

      <p>This website is hosted on a Akami/Linode VM running Debian.</p>
      <p>Specifications:</p>
      <ul>
        <li>CPU: Shared, 1 Core Reserved</li>
        <li>RAM: 2GB</li>
      </ul>
      <p>Software:</p>
        <ul class="spaced-list">
          <li>NGINX - Hosts web pages, directs HTTP & HTTPS traffic.</li>
          <li>fail2ban - Blocks connections from unwanted IPs, particularly from botnets.</li>
          <li>Wazuh Agent - Intrusion prevention / detection & malware scans.</li>
          <li>CertBot - Generates SSL certificates for HTTPS.</li>
          <li>git - Manage beta and production versions of the website.</li>
        </ul>

        <p>I also host a local beta version of the website, along with some other applications on a server I built.</p>
        <p>Specifications:</p>
        <ul>
          <li>OS: Ubuntu Server</li>
          <li>CPU: <a href="https://www.intel.com/content/www/us/en/products/sku/81909/intel-xeon-processor-e52687w-v3-25m-cache-3-10-ghz/specifications.html" class="link" target="_blank">INTEL XEON E5-2687W v3</a> - 10 cores, 3.1 - 3.5GHz</li>
          <li>MOBO: ASUS X99-A</li>
          <li>RAM: 4x32GB SAMSUNG ECC DDR4 @ 2400MT/s</li>
          <li>GPU: ASUS ROG STRIX 2060 OC</li>
          <li>STORAGE: 500GB SAMSUNG 970 EVO PLUS</li>
        </ul>
        <p>Software:</p>
        <ul>
          <li>NGINX - Hosts web pages, directs HTTP & HTTPS traffic.</li>
          <li>Wazuh Agent - Intrusion prevention / detection & malware scans.</li>
          <li>CertBot - Generates SSL certificates for HTTPS.</li>
          <li>git - Manage beta and production versions of the website.</li>
          <li>Docker - I use docker to quickly try out new applications that I may decide not to use long term.</li>
        </ul>
    </section>

    <section class="colored-section">
        <h2>Other</h2>

        <h4>NAS</h4>
        <p>I built a 24TB NAS using some components I bought from a friend, along with some new drives. I use it for automatic backups for all my families devices. The case is from a computer that was assembled in 1996.</p>
        <p>Specifications:</p>
        <ul class="spaced-list">
          <li>OS: TRUENas Scale</li>
          <li>CPU: <a href="https://www.intel.com/content/www/us/en/products/sku/134896/intel-core-i59600k-processor-9m-cache-up-to-4-60-ghz/specifications.html" class="link" target="_blank">INTEL CORE I5-9600K</a> - 6 cores, 3.7-4.6GHz</li>
          <li>MOBO: ASUS ROG STRIX z390-e</li>
          <li>RAM: 4x4GB SkHynix DDR4 @ 2133MT/s</li>
          <li>GPU: RTX 2080, saved from e-waste</li>
          <li>STORAGE:</li>
          <ul>
            <li>250GB SAMSUNG 970 EVO boot drive</li>
            <li>500GB SAMSUNG 970 EVO PLUS Read Cache</li>
            <li>500GB SAMSUNG 970 EVO PLUS Write Cache</li>
            <li>4x6TB WD Red Sata SSDs ZFS cluster</li>
          </ul>
        </ul>

        <h4>Router</h4>
        <p>After dealing with very limiting proprietary software on my old Lynksys router/access point, I decided to build my own OPNsense based router using a barebones <a href="https://store.minisforum.com/products/minisforum-nab6?variant=44164535288053" class="link" target="_blank">MinisForum NAB6</a> that I bought on clearance.</p>
        <p>Specifications:</p>
        <ul>
          <li>CPU: <a href="https://ark.intel.com/content/www/us/en/ark/products/226066/intel-core-i712650h-processor-24m-cache-up-to-4-70-ghz.html" class="link" target="_blank">INTEL CORE I7-12650H</a> - 6 P cores, 4 E cores, 3.5 - 4.7GHz</li>
          <li>RAM: 1x16GB CORSAIR VENGEANCE DDR4 SODIMM @ 3200 MT/s</li>
          <li>STORAGE: 25OGB SAMSUNG 970 EVO PLUS</li>
        </ul>
        <p>Software:</p>
        <ul class="spaced-list">
          <li>AdGuard - Blocks unwanted traffic</li>
          <li>WireGuard VPN</li>
        </ul>

        <h4>Dell PowerEdge</h4>
        <p>In 2021, I decided I wanted to get some hands-on experience with real enterprise hardware, so I bought a Dell PowerEdge R720 off of ebay for $350. I don't use it much any more as it is very loud, and my other equipment is more capable for single threaded workloads.</p>
        <p>Specifications:</p>
        <ul>
          <li>CPU: <a href="https://www.intel.com/content/www/us/en/products/sku/64596/intel-xeon-processor-e52690-20m-cache-2-90-ghz-8-00-gts-intel-qpi/specifications.html" class="link" target="_blank">2X INTEL XEON E5-2690</a> - 8 cores each, 2.9 - 3.8GHz</li>
          <li>RAM: 12x8GB SAMSUNG ECC DDR3 @ 1333MT/s</li>
          <li>STORAGE: 2x900GB SEAGATE SAS Drives in RAID 1</li>
        </ul>

    </section>

</body>

</html>