<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Patrick Quam</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Devanagari">

    <!-- CSS only -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/navbar.css">


    <!--Bootstrap Scripts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    

    <!--HTMX import-->
    <script src="/javascript/htmx.min.js"></script>
</head>

<body>
    <!-- top section -->
    <section class="top-section" id="title">
      <div hx-get="/templates/donate.html" hx-swap="outerHTML" hx-trigger="load"></div>

            <!-- Nav bar -->

            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
              <div class="container-fluid">
                <div hx-get="/templates/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
              </div>
            </nav>

        <div class="container-fluid">

          <div class="row">

            <div class="col-lg-6">
              <h2 class="section-heading">I love computers, and I spend a majority of my free time working on projects spanning most aspects of computing. I have found that my favorite projects do the same.</h2>
              <br>
              <p>Greater Seattle Area, WA</p>
              
            </div>
        
            <div class="col-lg-6">
              <img class="title-image" src="images/profile.jpg" alt="r93090">
            </div>
        
          </div>
        </div>

    </section>

      <div hx-get="/templates/cards.html" hx-trigger="load"></div>


  <section class="grey-section" id="sub-section1">

      <div class="sub-section-box col-lg-12">
  
          <h2>Experience</h2>

          <h4>LAB DEVICE COORDINATOR / INTERNAL TOOLS DEVELOPER • MICROSOFT / INSIGHT GLOBAL • NOV 2023 - PRESENT</h4>
          <ul class="spaced-list">
            <li>Lab Work:</li>
            <ul>
              <li>Maintained a Device Lab at Microsoft with 400+ active devices, ensuring availability and reliability for developers.</li>
              <li>Installed and configured operating systems, software, and drivers for Windows and MacOS development workstations.</li>
              <li>Coordinated with engineers and administration to purchase new / replacement hardware.</li>
              <li>Performed quarterly inventory audits and reports; included inventory changes, system configurations, utilization, and developer preferences.</li>
            </ul>
            <li>Development Work:</li>
            <ul>
              <li>Utilized my experience with retail inventory systems by working directly with developers and management to design and implement an inventory management system for the lab (C# / ASP.NET / REACT / TypeScript).</li>
              <li>Implemented automatic reporting as a core feature. This prevented lab technicians from manually generating weekly reports, as well as prevented system administrators from manually pulling data required for quarterly audits.</li>
              <li>Implemented vital lab administration features such as enabling modifications to existing checkouts and a notification system for lab closures.</li>
            </ul>
            
          </ul>

          <h4>COMPUTER REPAIR TECHNICIAN • GEEK SQUAD • OCT 2021 - NOVEMBER 2023</h4>
          <ul class="spaced-list">
            <li>Used DISM, SFC, Sysinternals, and other industry tools to diagnose and resolve hardware and software issues in Windows devices. Used proprietary Apple tools to diagnose and resolve hardware and software issues in Mac and iOS devices. </li>
            <li>Repaired and installed operating system images, chipset drivers, firmware, and a variety of client applications. </li>
            <li>Provided data backup/transfer and configuration services to client devices.</li>
            <li>Tracked client devices, service orders, documented notes, and common issues through NOVA (ServiceNow) ticketing system.</li>
            <li>Installed hardware and drivers for desktop computer motherboards, CPUs, RAM, GPUs, power supply units, hard drives, batteries, cooling systems,
                and more. Replaced displays, batteries, cameras, speakers and other main components for apple iOS devices.</li>
            <li>Performed virus removals, creation of recovery media, and installation/configuration of common consumer software.</li>

          </ul>

          <h4>COMPUTER SALES / MOBILE SALES LEAD (NON-COMMISION) • BEST BUY • JULY 2018 – OCT 2021</h4>
          <ul>
            <li>Utilized a deep understanding of consumer electronics’ features, benefits, pricing, and availability to provide technical information in a clear and
              concise manner to non-technical customers.</li>
            <li>Promoted to Mobile Sales Lead (2019) in recognition of exceptional accessory and membership attach rates, revenue, and customer satisfaction performance. Led a team of 6 to rank 5th in the company for mobile sales based on those metrics.</li>
            <li>Engaged customers using active listening skills to build complex, connected solutions in a fast-paced, dynamic environment. Ensured customers’
                  end-to-end needs are met by leveraging all channels including hardware, accessories, connections, content and services.</li>
            <li> Partnered with the Store Manager to train and coach mobile sales associates to ensure customer satisfaction and technical proficiency in carrier
                    account management and mobile device activations.</li>
            <li>Worked directly with major US carriers to resolve complex issues with customer accounts.</li>
          </ul>

      </div>
  
    </div>

  </section>


  <section class="colored-section">

    <div class="sub-section-box col-lg-12">

      <h2>Projects</h2>
      <h4>2022 - PRESENT</h4>

      <br>
      <h3>Server & Systems Administration</h3>
      <ul>
        <li>Deployed and maintained Linux servers (Debian) on both physical rack-mount
hardware (Dell PowerEdge) and virtual private servers.</li>
        <li>Installed and configured operating systems, services, and drivers to support
hosted applications and internal testing.</li>
        <li>Configured NGINX for secure web hosting, including TLS certificates, firewall
rules, and intrusion detection.</li>
        <li>Automated routine system maintenance such as certificate renewal using
Bash scripts.</li>
      </ul>

      <br>
      <h3>Network & Infrastructure</h3>
      <ul>
        <li>Built and configured a dedicated OPNsense firewall/router, including DNS,
DHCP, NAT, and security plugins.</li>
          <li>Managed DNS A / CNAME records for custom domains.</li>
          <li>Deployed Wazuh and Portainer to monitor and log system health and
performance of several servers.</li>
      </ul>

      <br>
      <h3>Home Lab & Hardware</h3>
      <ul>
        <li>Built multiple custom systems using enterprise server hardware to host lab
services.</li>
        <li>Built and configured a 24TB TRUEnas SCALE storage cluster (configured RAID
and ZFS to support NVMe cache and local redundancy).</li>
        <li>Performed hardware upgrades, component replacements, and
troubleshooting across servers and lab machines.</li>
        <li>Replaced capacitors on 2 Nintendo Super Famicom game consoles</li>
        <li>Assembled a simple oscilloscope from a kit (surface mount and through-hole soldering)</li>
      </ul>

      <br>
      <h3><a href="https://github.com/pquam/Quamium" target="_blank" class="link">Quamium Browser</a></h3>
      <ul>
        <li>Written in C++ with Qt graphics library</li>
        <li>implemented: </li>
        <ul>
          <li>URL Lexer</li>
          <li>HTTPS request handling with Boost and OpenSSL</li>
          <li>HTML parser</li>
          <li>Layout and rendering pipeline</li>
          <li>Font Caching</li>
        </ul>

        <li>Managed versioning and feature development with Git and GitHub</li>
        
      </ul>

      <br>

    </div>

  </section>


  <section class="grey-section">

    <div class="sub-section-box col-lg-12">

      <h2>Education</h2>

      <h4>Bellevue College:</h4>
      <ul>
        <li>Math</li>
        <ul>
          <li>Calculus 3</li>
          <li>Linear Algebra</li>
        </ul>
        <li>Computer Science</li>
        <ul>
          <li>Searching & Sorting</li>
          <li>Data Structures</li>
          <li>Database Architecture</li>
        </ul>
      </ul>

      <h4>CompTIA (Tests Pending):</h4>
      <ul>
        <li>Server+</li>
        <li>Linux+</li>
      </ul>

      <h4>Udemy:</h4>
      <ul>
        <li><a href="https://www.udemy.com/certificate/UC-f4f6e193-762e-4692-82a2-c1e2cca5665a/" target="_blank" class="link">Linux Security / Linux Hardening</a></li>
        <li><a href="https://www.udemy.com/certificate/UC-1e64d61a-81da-4883-8184-d7fac98d6faf/" target="_blank" class="link">NGINX Fundamentals</a></li>
      </ul>

    </div>

  </section>

</body>

</html>