<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Patrick Quam</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Devanagari">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/navbar.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
        <!--HTMX import-->
        <script src="/javascript/htmx.min.js"></script>
</head>

<body>
  
    <!-- top section -->
    <section class="top-section" id="title">
      <div hx-get="/templates/donate.html" hx-swap="outerHTML" hx-trigger="load"></div>

          

            <!-- Nav bar -->

            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
              <div class="container-fluid">
                <div hx-get="/templates/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
              </div>
            </nav>

        <div class="container-fluid">

          <div class="row">

            <div class="col-lg-6">
              <h1 class="big-heading">Resume</h1>
      
              <p>As a Technology Enthusiast and Lab Device Coordinator, I specialize in component-level repairs of a wide range of enterprise and consumer electronics, as well as
                troubleshooting both hardware and software issues to deliver effective solutions in a timely manner. As a Right-to-Repair advocate, I ensure devices are utilized
                to their fullest before needing to be replaced. Skills extend to hardware repair, server management, Linux system hardening, and web development.</p>
                <div style="align-items: center;">
                  <a href="documents/PatrickQuamResume.pdf" class="link" target="_blank" style="width: 30%;"><img src="images/pdflogo.png" style="height: 15%; width: 15%;">Download</a></p>
                </div>
                
              
            </div>
        
            <div class="col-lg-6">
              <img class="title-image" src="images/profile.jpg">
            </div>

            <div class="col-lg-12">
              
              
            </div>
        
          </div>

        </div>

    </section>



    <section class="colored-section">

        <div class="sub-section-box col-lg-12">

          <h2>Experience</h2>

          <h4>LAB DEVICE COORDINATOR • MICROSOFT / INSIGHT GLOBAL • NOV 2023 - PRESENT</h4>
          <ul class="spaced-list">
            <li>Prepared and maintained a wide range of consumer hardware for beta testing of the office 365 mobile app.</li>
            <li>Utilized my experience with retail inventory systems by working directly with developers and management to design and implement an inventory management system for the lab.</li>
            <li>Performed operating system installation / re-imaging of Samsung, Google, and Apple mobile devices, as well as Apple, Microsoft, Dell, and HP Destop and Laptop devices.</li>
            
          </ul>

          <h4>COMPUTER REPAIR TECHNICIAN • GEEK SQUAD • OCT 2021 - NOVEMBER 2023</h4>
          <ul class="spaced-list">
            <li>Used DISM, SFC, Sysinternals, and other industry tools to diagnose and resolve hardware and software issues in Windows devices. Used proprietary Apple tools to diagnose and resolve hardware and software issues in Mac and iOS devices. </li>
              <li>Repaired and installed operating system images, chipset drivers, firmware, and a variety of client applications. </li>
              <li>Provided data backup/transfer and configuration services to client devices.</li>
              <li>Tracked client devices, service orders, documented notes, and common issues through NOVA (ServiceNow) ticketing system.</li>
              <li>Installed hardware and drivers for desktop computer motherboards, CPUs, RAM, GPUs, power supply units, hard drives, batteries, cooling systems,
                and more. Replaced displays, batteries, cameras, speakers and other main components for apple iOS devices.</li>
                <li>Performed virus removals, creation of recovery media, and installation/configuration of common consumer software.</li>

          </ul>

          <h4>COMPUTER SALES / MOBILE SALES LEAD (NON-COMMISION) • BEST BUY • JULY 2018 – OCT 2021</h4>
          <ul>
            <li>Utilized a deep understanding of consumer electronics’ features, benefits, pricing, and availability to provide technical information in a clear and
              concise manner to non-technical customers.</li>
              <li>Promoted to Mobile Sales Lead (2019) in recognition of exceptional accessory and membership attach rates, revenue, and customer satisfaction performance. Led a team of 6 to rank 5th in the company for mobile sales based on those metrics.</li>
                <li>Engaged customers using active listening skills to build complex, connected solutions in a fast-paced, dynamic environment. Ensured customers’
                  end-to-end needs are met by leveraging all channels including hardware, accessories, connections, content and services.</li>
                  <li> Partnered with the Store Manager to train and coach mobile sales associates to ensure customer satisfaction and technical proficiency in carrier
                    account management and mobile device activations.</li>
                    <li>Worked directly with major US carriers to resolve complex issues with customer accounts.</li>
          </ul>
        </div>

    </section>

    <section class="grey-section">

      <div class="sub-section-box col-lg-12">

        <h2>Home Lab</h2>

        <h4>2022 - PRESENT</h4>
        <ul>
          <li>Utilized Visual Studio Code and VIM to develop my personal website with HTML, CSS (Bootstrap), JavaScript, and HTMX. Managed production and beta versions of
            the website using git and GitHub. Deployed website using Azure Static Webpages, with CI/CD via GitHub Actions.</li>
          <li>Personally deployed, configured, maintained, and secured a virtual private server (Debian) to host my website. Configured NGINX to serve HTML,
              CSS, and JavaScript files via HTTPS and redirect HTTP traffic to HTTPS. Configured Certbot to generate SSL certificates to enable HTTPS. Configured
              fail2ban, UFW, and Wazuh to detect, block and report malicious traffic. Updated default file permissions and configuration files to prevent common attacks.</li>
          <li>Configured A-Name and C-Name DNS records for a custom domain. Configured domain settings to support email through Zoho.</li>
          <li>Automated common tasks such as SSL Certification renewal using cron jobs and updating the production site from GitHub using bash scripts.</li>
          <li>Designed, built and deployed OPNsense router / firewall, configured DNS, DHCP, NAT, and plugins. Designed, built and deployed a 24TB TRUEnas SCALE cluster with redundancy, configured filesharing to support windows and Linux devices. Deployed server monitoring software (Wazuh, Portainer), and other applications using Docker.</li>
        </ul>
      </div>

  </section>

    <section class="colored-section">

      <div class="sub-section-box col-lg-12">

        <h2>Education</h2>

        <h4>Udemy:</h4>
        <ul>
          <li>Linux Security / Linux Hardening</li>
        </ul>

        <h4>CompTIA (Tests Pending):</h4>
        <ul>
          <li>Server+</li>
          <li>Linux+</li>
        </ul>

        <h4>College:</h4>
        <ul>
          <li>Math</li>
          <ul>
            <li>Calculus 3</li>
            <li>Linear Algebra</li>
          </ul>
          <li>Computer Science</li>
          <ul>
            <li>Searching & Sorting</li>
            <li>Data Structures</li>
            <li>Database Architecture</li>
          </ul>
        </ul>
      </div>

  </section>

  <div hx-get="/templates/cards.html" hx-trigger="load"></div>

</body>

</html>