<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Patrick Quam</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Devanagari">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/navbar.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
        <!--HTMX import-->
        <script src="/javascript/htmx.min.js"></script>
</head>

<body>
  
    <!-- top section -->
    <section class="top-section" id="title">
      <div hx-get="/templates/donate.html" hx-swap="outerHTML" hx-trigger="load"></div>

          

            <!-- Nav bar -->

            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
              <div class="container-fluid">
                <div hx-get="/templates/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
              </div>
            </nav>

        <div class="container-fluid">

          <div class="row">

            <div class="col-lg-6">
              <h1 class="big-heading">Shortcuts to tools I use frequently 🧰</h1>
              <h2 class="section-heading">My own little <a href="https://ninite.com" class="link" target="_blank">ninite</a></h2>
              
            </div>
        
            <div class="col-lg-6">
              <img class="title-image" src="images/sandvich.png">
            </div>
        
          </div>

        </div>

    </section>



    <section class="colored-section">
      <h1 class="sub-section-header" id="learning-resources">
        <mark>
         Tools
        </mark>
       </h1>
        <div class="sub-section-box col-lg-12">
            <ul style="font-size: 30px;" !important>
                <li><a href="https://github.com/pquam/bashrc/blob/main/.bashrc" class="link" target="_blank">.bashrc</a></li>
                <li><a href="https://chat.openai.com/" class="link" target="_blank">ChatGPT</a></li>
                <li><a href="https://code.visualstudio.com/download" class="link" target="_blank">VSCode</a></li>
                <li><a href="https://ubuntu.com/download/desktop" class="link" target="_blank">Ubuntu desktop</a></li>
                <li><a href="https://rufus.ie/en/" class="link" target="_blank">Rufus</a></li>
                <li><a href="https://winscp.net/eng/download.php" class="link" target="_blank">WinSCP</a></li>
                <li><a href="https://www.videolan.org/vlc/" class="link" target="_blank">VLC</a></li>
                <li><a href="https://discord.com/download" class="link" target="_blank">Discord</a></li>
                <li><a href="https://www.microsoft.com/en-us/software-download/windows10%20" class="link" target="_blank">Windows 10 22h2 Media Creation tool</a></li>
                <li><a href="https://www.microsoft.com/en-us/software-download/windows11%20" class="link" target="_blank">Windows 11 22h2 Media Creation tool</a></li>
                <li><a href="https://github.com/massgravel/Microsoft-Activation-Scripts" class="link" target="_blank">Microsoft Activation Scripts</a></li>
            </ul>
        </div>

    </section>

    <section class="grey-section">
      <div class="col-lg-12">
        <h1 class="sub-section-header" id="learning-resources">
         <mark>
          Learning Resources
         </mark>
        </h1>
       </div>
       <div class="col-lg-1">
       </div>
       <div class="sub-section-box col-lg-12">
        <h3 id="websites">
         Websites
        </h3>
        <ul class="hidden">
         <li>
          <a class="link" href="https://www.learncpp.com/" target="_blank">
           Learn C++
          </a>
         </li>
         <li>
          <a class="link" href="https://www.udemy.com/home/my-courses/learning/" target="_blank">
           Udemy
          </a>
         </li>
         <li>
          <a class="link" href="https://www.simplycyber.io/free-cyber-resources" target="_blank">
           Simply Cyber free resources
          </a>
         </li>
         <li>
          <a class="link" href="https://portswigger.net/web-security/all-materials/detailed" target="_blank">
           PortSwigger Learning Materials
          </a>
         </li>
         <li>
          <a class="link" href="https://ss64.com/" target="_blank">
           SS64 Command Line Refrence Tool
          </a>
         </li>
         <li>
          <a class="link" href="https://www.netacad.com/courses/all-courses" target="_blank">
           CISCO network academy
          </a>
         </li>
         <li>
          <a class="link" href="https://www.vulnhub.com/" target="_blank">
           Vulnhub hands on hacking practice
          </a>
         </li>
         <li>
          <a class="link" href="https://tryhackme.com/dashboard" target="_blank">
           tryhackme hands on hacking practice
          </a>
         </li>
         <li>
          <a class="link" href="https://www.hackthebox.com/" target="_blank">
           HackTheBox hands on hacking practice
          </a>
         </li>
         <li>
          <a class="link" href="https://certifications.tcm-sec.com/" target="_blank">
           The Cyber Mentor Certifications
          </a>
         </li>
         <li>
          <a class="link" href="https://fireship.io/" target="_blank">
           FireShip coding labs
          </a>
         </li>
         <li>
          <a class="link" href="https://www.theodinproject.com/" target="_blank">
           The Odin Project full stack web development
          </a>
         </li>
         <li>
          <a class="link" href="https://owasp.org/www-project-web-security-testing-guide/stable/" target="_blank">
           OWASP web security testing guide
          </a>
         </li>
        </ul>
        <h3 id="youtube-creators">
         YouTube Creators
        </h3>
        <ul class="hidden">
         <li>
          <a class="link" href="https://www.youtube.com/@LowLevelLearning" target="_blank">
           Low Level Learning -
          </a>
          videos about cyber security, hacking, embedded systems topics
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@BranchEducation" target="_blank">
           Branch Education -
          </a>
          animations demonstrating the constuction and operation of various devices
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@professormesser" target="_blank">
           Professor Messer -
          </a>
          the Internet's choice for IT certifications. Provides comprehensive resources for CompTIA A+, Network+, Security+, and others.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@TCMSecurityAcademy" target="_blank">
           The Cyber Mentor -
          </a>
          hacker by trade.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@TCMSecurityAcademy" target="_blank">
           Level1Techs -
          </a>
          videos to share knowledge about tech, science and design.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/HackerSploit" target="_blank">
           HackerSploit -
          </a>
          the leading provider of free Infosec and cybersecurity training.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@hak5" target="_blank">
           Hak5 -
          </a>
          provides regular updates on cybersecurity news and hacking tools.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@Fireship" target="_blank">
           Fireship -
          </a>
          high-intensity ⚡ code tutorials and tech news.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@beyondfireship" target="_blank">
           Beyond Fireship -
          </a>
          more highly-focused blazingly-fast coding tutorials
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@NoBoilerplate" target="_blank">
           No Boilerplate -
          </a>
          fast technical videos.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@Computerphile" target="_blank">
           Computerphile -
          </a>
          videos all about computers and computer stuff.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@NetworkChuck" target="_blank">
           NetworkChuck -
          </a>
          jump into a career in the IT field through obtaining IT Certifications.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@der8auer-en" target="_blank">
           der8auer EN -
          </a>
          in depth consumer hardware reviews.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@LAWRENCESYSTEMS" target="_blank">
           Lawrence Systems -
          </a>
          tutorials for firewalls, storage solutions, MSP tools, security tools and open source topics.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@pcsecuritychannel" target="_blank">
           The PC Security Channel -
          </a>
          educational content about malware and threat analysis and other infosec topics.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@davidbombal" target="_blank">
           David Bombal -
          </a>
          Linux, Python, Ethical Hacking, Networking, CCNA, Virtualization and other IT related topics.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@AnsibleAutomation" target="_blank">
           Red Hat Ansible Automation -
          </a>
          a resource for anyone interested in IT automation, Ansible technology or the Red Hat Ansible Automation platform.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@linode" target="_blank">
           Linode -
          </a>
          cloud computing tutorials, explanations around Linux, and information about open-source technology.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@theserialport" target="_blank">
           The Serial Port -
          </a>
          a virtual computer museum that highlights computers we find interesting from years gone by.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@GamersNexus" target="_blank">
           Gamers Nexus -
          </a>
          PC hardware reviews, game benchmarks, component analysis.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@LinusTechTips" target="_blank">
           Linus Tech Tips -
          </a>
          "professionally curious" experts in consumer technology and video production who aim to educate and entertain.
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/@Hyperplexed" target="_blank">
           Hyperplexed -
          </a>
          advanced frontend development
         </li>
        </ul>
        <h3 id="youtube-playlists">
         YouTube Playlists
        </h3>
        <ul class="hidden">
          <li>
            <a class="link" href="https://www.youtube.com/playlist?list=PLR-4cRIaInfwK-BfghKuMwIv1eu9JCDcb" target="_blank">
             Advanced CS topics playlist
            </a>
           </li>
         <li>
          <a class="link" href="https://www.youtube.com/playlist?list=PLUl4u3cNGP6317WaSNfmCvGym2ucw3oGp" target="_blank">
           MIT OpenCourseWare on algorithm design
          </a>
         </li>
         <li>
          <a class="link" href="https://www.youtube.com/playlist?list=PLUl4u3cNGP62QumaaZtCCjkID-NgqrleA" target="_blank">
           MIT OpenCourseWare Programming Puzzles
          </a>
         </li>
        </ul>
       </div>
       <div class="col-lg-1">
       </div>
    </section>
</body>

</html>