<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Patrick Quam</title>
    
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Devanagari">
        
        <!-- CSS only -->
        <link rel="stylesheet" href="/css/contact.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/navbar.css">
        
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
        <!-- Bootstrap Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        
        <!--HTMX import-->
        <script src="/javascript/htmx.min.js"></script>
    </head>

    <body>
        <!-- top section -->
        <section class="top-section" id="title">

            <div hx-get="/templates/donate.html" hx-swap="outerHTML" hx-trigger="load"></div>

            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                
                <div class="container-fluid">
                <div hx-get="/templates/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
                </div>
            </nav>

            <div hx-get="/blog/header.html" hx-swap="outerHTML" hx-trigger="load"></div>
        </section>

        <!--content start-->
        <section class="grey-section">

            <div class="col-lg-12">
                <h1 class="sub-section-header" id="one"> <mark>2: Not a Roadmap: DevOps</mark> <br><br>2/24/24</h1>
            </div>

            <div class="col-lg-12">
                <h4 style="text-align: left;"><code>Disclaimer: I don't work in DevOps, and I am just getting started on my path to getting there. At time of writing, I am not even sure if that is what my career goals are. That being said, it has been my academic focus for the last few months, and I wanted to share what I have learned about the path to getting there by talking to several DevOps Engineers and hiring managers.</code></h4>

                <p>
                    I want to start by making it clear what is expected of someone working in a DevOps position.
                     There is a lot of misconception online that getting a job in DevOps simply involves getting experience with CI/CD, a cloud platform, and some form of Infrastructure as Code, such as terraform. Based on the requirements, it would appear to someone unfamiliar that DevOps is really closer to an IT position than a developer position, as the job listings don’t frequently list development experience as a requirement.
                      This misunderstanding is something that I believed in as well. While having knowledge and skill in those areas is certainly a required part of the job, and what the main focus of the work in those areas tends to be, those job listings are very misleading.
                       After you read those job listings, it is easy to forget where the term DevOps comes from: Development and Operations.
                        All of the hiring managers and many of the DevOps professionals I talked to mentioned that having professional development experience is incredibly important for anyone looking to land a job in a DevOps role. Despite the fact that your job likely won't be working directly with the actual product as much as it will be managing the infrastructure and deployment of the company's product, the expectation in the role is that you are working to improve the developer experience.
                         Improving developer experience typically means the real job of a DevOps employee is making sure your developers can spend as much of their time as possible doing their job: writing code. In order to do this, it is imperative for DevOps staff to have a complete understanding of what being a developer entails.
                          In any case, the day to day of a DevOps employee may involve tasks along these lines: integrating unit tests into deployment pipelines, setting up monitoring for an app, Implementing and maintaining CI/CD pipelines, helping containerize an app (load balancing, getting public access to a cloud hosted app, configuring DNS), and managing (or automating the management of) those containers through a cloud platform or terraform.
                           In some cases, DevOps teams may also be requested to develop simple tools to help developers automate their tasks. DevOps is a catch-all term for someone that is capable of development, but also has a very solid understanding of the infrastructure that applications are deployed too. The most important skill is being able to solve highly technical problems and quickly be able to understand and adapt to new technologies as your employer sees fit.
                            This means familiarity with Cloud Computing (AWS, Azure, Kubernetes), Infrastructure as Code (Terraform), CI/CD (GitHub actions, Jenkins), programming experience, and version control (Git) are the basic requirements for the role, but employers are really looking to hire someone with the ability to pick up and learn new tools and technologies very quickly. Being confident in your abilities to identify and resolve issues is very important.

                    <br>
                    <ul>Anyways, after talking to several DevOps Engineers and a few hiring managers and reading dozens of posts on LinkedIn and Reddit, this is the best advice I have for people with a long-term goal of getting into DevOps:

                        <li>Your starting point should be to learn as much as you can about development. Learn a programming language, build something cool, and once you have it working and looking nice, start learning DevOps practices to make what you built robust and scalable.</li>
                        <li>Choose a specific company that you would like to work for, then find out what technologies they use from LinkedIn job listings or current employees’ profiles. If their profile picture looks friendly, try to connect with them, and ask about what tools and applications the company uses. Then, focus your study on those technologies specifically. Even if you change your mind about the company you want to work for down the road, at least you will be working in a specific direction.</li>
                        <li>Study on a platform like Udemy, and ensure that you accompany that learning by reading the documentation for that technology, as navigating and understanding documentation is an important part of the job. (YouTube has some great resources as well, but in my experience, the structure offered by Udemy courses helps me track what I have learned better than watching playlists on YouTube). Additionally, having even a small home lab to practice and get real personal experience that you can list on a resume is hugely important. As you complete lessons, make sure you use your home lab to verify your understanding, then review the documentation or your course to figure out whatever you don’t understand. Also, implementing what you learn in the home lab is way more interesting than watching lectures or reading documentation, so it will help prevent you from falling asleep while studying.</li>
                        <li>Most of the people I talked to agreed that the best way to get an interview was to build a personal 'capstone project' to demonstrate your abilities. Getting certified for a cloud platform can help a lot on a resume, but a few people I talked to said that showing enthusiasm and experience can mean a lot more in the interview. Even if it's really simple, build a web app in the language of your choice, create a docker file for it, deploy it to AWS, Azure, or Kubernetes (depending on what your favorite employer tends to use) using terraform, demonstrate your configuration can scale with load, and demonstrate you can manage CI/CD and version control. Basically, if you want to land a DevOps job, you need to build, manage, deploy, and scale a full stack application on your own. The application can be very simple, as long as you can show your deployment is stable.</li>
                        <li>As I mentioned earlier, demonstrating you can learn and adapt to new technologies is just as important as having the basics covered. As you build the web app ‘capstone’, I would recommend learning an additional new skill, whether it's developing in a programming language you didn't have prior experience with, Integrating an API of some kind, or simply using a new tool. This way you can show that you not only are able to meet the minimum job requirements for DevOps, but that you can also learn and implement new things quickly. At least 2 of the people I talked to recommended getting a job as a developer at a startup or smaller company before trying to move into a more stable DevOps role at a corporation, because at a smaller company you will likely have to manage many aspects of the deployment of your project on your own.</li>
                    </ul>

                    <br>

                    <p>
                    I also asked about the importance of experience with tangential technologies, including security, networking, automation, and Ai (by which I mean prompt engineering rather than Ai development).
                    Many of the people I talked to said that having security skills would look good on application for smaller companies, but most large corporations already have dedicated security staff, so it might not be as relevant there.
                    As far as Ai goes, no one really cares right now, but a few people did mention that by the time I get around to applying for stuff in a couple years, that might change.
                    Networking is fairly important from the perspective of being able to implement load balancing between containers, and configuring DNS.
                    Automation is not necessarily required for the role, however many people I talked to said that their jobs would be way more involved if they were not able to automate tasks effectively.
                    I was not able to find it again, but one post I read was along the lines of “DevOps is not about being able to do any one specific thing. It's more about being able to automate your current task so you have time to learn how to do the next thing that comes up”.
                    </p>

                    <p>
                    Right now, I am currently working on steps 1 and 3. For step 1, I am slowly working to improve this website by learning about modern web development techniques and standards for security, deployment, and general build parameters. I am also working with Developers at Microsoft to build and deploy an internal inventory system for the lab I manage. For step 3, I am taking courses through Udemy and Microsoft Learn for Kubernetes and Azure, while practicing what I learned on both my home lab and my Azure account. I have not decided on what I plan to do for my personal ‘capstone’ project, although I am hoping to embark on something more involved than this website in order to push myself to learn new things.
                    </p>

            </div>

            <div class="col-lg-12 bottom-nav">
        
              
                <div><h2><a href="/blog/1.html" class="link">Last Post</a></h2></div>

                <div></div>
          
            </div>

        </section>
        <!--content end-->

        <div hx-get="/templates/cards.html" hx-trigger="load"></div>
    </body>

</html>