<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Patrick Quam</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Devanagari">

    <link rel="stylesheet" href="/css/notes.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <!--HTMX import-->
    <script src="/javascript/htmx.min.js"></script>
</head>

<body>
  <div hx-get="/notes/nginx/side-nav.html" hx-trigger="load"></div>

    <!-- top section -->
    <section class="top-section" id="title">
      <div hx-get="/templates/donate.html" hx-swap="outerHTML" hx-trigger="load"></div>

          

            <!-- Nav bar -->

            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
              <div class="container-fluid">
                <div hx-get="/templates/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
              </div>
            </nav>

        <div class="container-fluid">

          <div class="row">

            <div class="col-lg-6">
              <h1 class="big-heading">Using NGINX</h1>
              <h2 class="section-heading">For Website Hosting</h2>
              
            </div>
        
            <div class="col-lg-6">
              <img class="title-image" src="/images/nginx.png">
            </div>
        
          </div>

          <div class="col-lg-12">
            <h2 style="text-align: center;">Coming Soon: NGINX configuration, HTTPS and Certbot, Adding Content</h2>
            
          </div>

        </div>

    </section>

    <div id="setting-up-nginx" hx-get="/notes/nginx/setting-up-nginx.html" hx-trigger="load"></div>
    <div id="nginx-configuration" hx-get="/notes/nginx/nginx-configuration.html" hx-trigger="load"></div>
    <div id="removing-extensions" hx-get="/notes/nginx/removing-extensions.html" hx-trigger="load"></div>
    <div id="securing-nginx" hx-get="/notes/nginx/securing-nginx.html" hx-trigger="load"></div>


          <!--
    <section class="grey-section">

      <div class="container-fluid">
  
          <div class="row">

              <div class="col-lg-12">
                  <h1 class="sub-section-header"><mark>HTTPS and Certbot</mark></h1>
              </div>

              <div class="sub-section-box col-lg-12">
                <ul></ul>

              </div>
        
          </div>

          
      </div>
  
      </div>
  </section>
-->


    <!--
    <section class="grey-section">

        <div class="container-fluid">
    
            <div class="column">

                <div class="col-lg-12">
                    <h1 class="sub-section-header"><mark>Adding Content</mark></h1>
                </div>

                    <div class="sub-section-box col-lg-12">
                        <ul>

                      </ul>


                    </div>
          
            </div>

            
        </div>
    
      </div>
    </section>
    -->


    <section class="grey-section">

      <div class="container-fluid">
  
          <div class="row">

              <div class="col-lg-12">
                  <h1 class="sub-section-header"><mark>NGINX Resources</mark></h1>
              </div>

              <div class="sub-section-box col-lg-12">
                <ul class="spaced-list">
                  <li>NGinx logs are stored in <code>/var/log/nginx</code>. There are 2 log files, access.log and error.log</li>
                  <li>The log files can be monitored in real time using <code>sudo tail -f /var/log/nginx/access.log</code> or <code>sudo tail -f /var/log/nginx/access.log</code>. This can be handy when trying to troubleshoot various issues, or detect malicious requests.</li>
                </ul>

                <ul class="spaced-list">
                  <li><a href="http://nginx.org/en/docs/http/configuring_https_servers.html" class="link" target="_blank">Configuring HTTPS Servers</a></li>
                  <li><a href="https://ssl-config.mozilla.org/" class="link" target="_blank">Mozilla SSL configurator</a></li>
                  <li><a href="https://www.openssl.org/docs/" class="link" target="_blank">OpenSSL Documentation</a></li>
                </ul>
              </div>
        
          </div>          
      </div>  
      </div>
  </section>

  <script src="/javascript/sidebar.js"></script>
</body>

</html>