<section class="card-holder">

  <ul style="list-style-type: none; margin-top: 30px;">

  <li>
  <div class="text-center">
    <h2>Contact:</h2>
  </div>
</li>
  
  <div id="cards" style="margin-top: 30px;">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a href="https://www.linkedin.com/in/patrick-quam/" target="_blank" style="text-decoration: none;">
            <img class="card-image" src="/images/linkedinlogo.png" alt="LinkedIn Icon">
          </a>
        </div>
        <div class="flip-card-back">
          <a href="https://www.linkedin.com/in/patrick-quam/" target="_blank" style="text-decoration: none;">
            <img class="card-image" src="/images/linkedinlogo.png" alt="LinkedIn Icon">
          </a>
          <p class="flip-p">linkedin.com/in/patrick-quam</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a href="https://github.com/pquam" target="_blank" style="text-decoration: none;">
            <img class="card-image" src="/images/githublogo.png" alt="LinkedIn Icon">
          </a>
        </div>
        <div class="flip-card-back">
          <a href="https://github.com/pquam" target="_blank" style="text-decoration: none;">
            <img class="card-image" src="/images/githublogo.png" alt="LinkedIn Icon">
          </a>
          <p class="flip-p">github.com/pquam</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a href="mailto:patrick@quam.computer" style="text-decoration: none;">
            <img class="card-image" src="/images/email.png" alt="LinkedIn Icon">
          </a>
        </div>
        <div class="flip-card-back">
          <a href="mailto:patrick@quam.computer" style="text-decoration: none;">
            <img class="card-image" src="/images/email.png" alt="LinkedIn Icon">
          </a>
          <p class="flip-p">patrick@quam.computer</p>
        </div>
      </div>
    </div>
    
  </div>
</ul>
</section>