
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <div>
      <a class="navbar-brand nav-link" href="/index">Patrick Quam</a>
    </div>
    
    <div>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Notes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <li><a class="dropdown-item" href="/notes/linux-hardening">Linux Hardening</a></li>
            <li><a class="dropdown-item" href="/notes/server+">Comptia Server+</a></li>
            <li><a class="dropdown-item" href="/notes/linux+">Comptia Linux+</a></li>
            <li><a class="dropdown-item" href="/notes/nginx">NGINX</a></li>
            <li><a class="dropdown-item" href="/notes/other">Other</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" href="/blog">Blog</a></li>
            <li><a class="dropdown-item" href="/homelab">Home Lab</a></li>
            <li><a class="dropdown-item" href="/certifications">Certifications</a></li>
            <li><a class="dropdown-item" href="https://oeis.org/A350153" target="_blank">Integer Sequence</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/tools" class="nav-link">Tools</a>
        </li>
        <li class="nav-item">
          <a href="/resume" class="nav-link">Resume</a>
        </li>
      </ul>
    </div>
  </div>